<h1 class="ls-title-intro ls-ico-user-add">Cadastro do Time</h1>
<div class="ls-box">
  <div class="row">
    <div class="col-md-12">
        <table class="ls-table ls-table-striped ls-no-hover ls-sm-space ls-no-margin-top">
          <tbody>
            <tr> <td> Nome: <label class="ls-title-6"><%= @team.name %></label> </td> </tr>
             <tr> <td> Usuários: <label class="ls-title-6">
              <% @team.users.each do |user| %>
                <%= user.name %>
              <% end %>
            </label>
               </td> </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_team_path(@team) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', teams_path, class: "ls-btn-darker" %>
