<h1 class="ls-title-intro ls-ico-user-add">Humor</h1>

<% @moods.each do |mood| %>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <strong>Tipo</strong>
      <small><%= link_to mood.kind%></small>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
        <span class="ls-list-label">Imagnes</span>
      <strong><%= mood.image_url %></strong>
    </div>
  </div>
</div>
<% end %>

<div class="ls-pagination-filter ">
     <%= link_to 'Novo Humor', new_mood_path , class: "ls-btn-darker" %>
</div>
