<h1 class="ls-title-intro ls-ico-user-add">Cadastro de Humor</h1>
<div class="ls-box">
  <div class="row">
    <div class="col-md-12">
        <table class="ls-table ls-table-striped ls-no-hover ls-sm-space ls-no-margin-top">
          <tbody>
            <tr> <td> Tipo: <label class="ls-title-6"><%= @mood.kind %></label> </td> </tr>
            <tr> <td> Imagem: <label class="ls-title-6"><%= image_tag(@mood.image)%></label> </td> </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_mood_path(@mood) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', moods_path, class: "ls-btn-darker" %>
