<h1 class="ls-title-intro ls-ico-user-add">Usuários</h1>

<% @users.each do |user| %>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <strong>Nome</strong>
      <small><%= link_to user.name%></small>
    </div>
  </header>
    <div class="col-xs-12 col-md-6">
        <span class="ls-list-label">Email</span>
      <strong><%= user.email %></strong>
    </div>
  </div>
</div>
<% end %>

<div class="ls-pagination-filter ">
     <%= link_to 'Novo Usuário', new_user_path , class: "ls-btn-darker" %>
</div>
