<h1 class="ls-title-intro ls-ico-user-add">Usuário</h1>

<a><%= link_to 'Cadastrar Usuário', new_user_path(@user) , class: "ls-btn-primary" %></a>

<div class="ls-box-filter">
  <form method="get" accept-charset="UTF-8" action="/hospitals/search" id="new_customer_search" class="ls-form ls-form-inline" novalidate="novalidate"><input type="hidden" value="✓" name="utf8">
    <label class="ls-label col-md-4">
      <b class="ls-label-text">Buscar por:</b>
      <div class="ls-custom-select">
        <select name="" class="ls-select">
          <option>Usuário</option>
          <option>Email</option>
        </select>
      </div>
    </label>

    <label role="search" class="ls-label col-md-4">
      <div>
        <input type="text" class="ls-field">
      </div>
    </label>
    <label class="ls-label ">
      <input type="submit" class="ls-btn" value="Buscar" name="commit" aria-expanded="false" role="combobox">
    </label>
  </form>
</div>

<table class="ls-table ls-table-striped">
  <thead>
    <tr>
      <th>Usuário</th>
      <th class="hidden-xs">Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td class="hidden-xs"><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="ls-pagination-filter">
  <ul class="ls-pagination">
    <li class="ls-disabled"><a href="#">&laquo; Anterior</a></li>
    <li class="ls-active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Próximo &raquo;</a></li>
  </ul>

  <div class="ls-filter-view">
    Exibir
    <div class="ls-custom-select">
      <select name="" id="" class="ls-select">
        <option value="10">10</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    ítens por página
  </div>
</div>
