<aside class="ls-sidebar">
  <nav class="ls-menu">
    <ul>
      <li>
        <a class="ls-ico-home" href="#"> Painel Inicial </a>
      </li>
      <li class="ls-submenu">
        <a class="ls-ico-star" href=""> Humores </a>
           <ul>
               <li><a class="ls-submenu-item" href=""> Humor </a></li>
           </ul>
      </li>
      <li class="ls-submenu">
        <a class="ls-ico-users" href="">  Cadastros </a>
          <ul>
              <li><%= link_to 'Usuários', users_path, class: "ls-submenu-item" %></li>
         </ul>
          <ul>
              <li><a class="ls-submenu-item" href=""> Times </a></li>
         </ul>
      </li>
      <li class="ls-submenu">
        <a class="ls-ico-chart-bar-up" href="">  Relatórios </a>
        <ul>
           <li><a class="ls-submenu-item" href=""> Humor semanal </a></li>
        </ul>
        <ul>
           <li><a class="ls-submenu-item" href=""> Humor do time </a></li>
        </ul>
      </li>
      <li >
        <a class="ls-ico-user-add" href="">  Administradores </a>
      </li>
    </ul>
  </nav>
</aside>


