<h1 class="ls-title-intro ls-ico-text">Humor</h1>

<div class="ls-box">
  <div class="row">
    <div class="col-md-12">
        <table class="ls-table ls-table-striped ls-no-hover ls-sm-space ls-no-margin-top">
          <tbody>
            <tr> <td> Humor: <label class="ls-title-6"><%= @control_mood.mood.kind %></label> </td> </tr>
            <tr> <td> Trabalho: <label class="ls-title-6"><%= @control_mood.work %></label> </td> </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>


<%= link_to 'Editar', edit_control_mood_path(@control_mood) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', control_moods_path, class: "ls-btn-darker" %>
